<div class="edit_box">
  <div class="inner">
    <h1>Edit Post</h1>
    <hr>
    <%= simple_form_for @post do |f| %>
      <%= f.input :photo %>
      <%= f.input :description %>
      <%= f.submit 'Update', class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>